<div style="font-family: Arial, sans-serif; color: #202020; padding-top: 20px">
    <div style="margin: auto; min-width: 350px; max-width: 700px; border-radius: 20px; background-color: #f5f5f5">
        <div style="padding: 20px; font-size: 16px; line-height: 1.5em">
            {{template}}
        </div>
    </div>
</div>